<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAcb2tOHmwXLvd66RGpsQpwp-D6I4mRbng</string>
	<key>GCM_SENDER_ID</key>
	<string>1086961240601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ii.SolackProject</string>
	<key>PROJECT_ID</key>
	<string>solackproject</string>
	<key>STORAGE_BUCKET</key>
	<string>solackproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1086961240601:ios:467ec6fb25f74f05cd7888</string>
</dict>
</plist>